body {
  margin: 0px;
  background-color: #AB88FF;
  font-family: 'Mulish', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  width: 200px;
  margin-top: 10px;
  margin-left: 25px;
}

.header__menu {
  margin-right: 25px;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  margin: 0px;
  text-align: right;
  
}

.header__menu:hover ul, ul:hover {
  display: block;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  margin-right: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__menu--profile img {
  margin-right: 10px;
  width: 40px;
}

.header__menu--profile p{
  margin: 0px;
  color: white;
}

