$bg-color: linear-gradient(rgba(238,58,136,1) 11.2%, rgba(128,162,245,1) 91.1% );
$bg-color-carousel: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
$bg-color-opacity: rgba(255, 255, 255, 0.1);
$general-font: "Mulish", sans-serif;

.flex-align {
  display: flex;
  align-items: center;
}

.flex-justifyCenter {
  display: flex;
  justify-content: center;
}

.flex-align-justifyCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-flexDirection-column {
  display: flex;
  flex-direction: column;
}


body {
  margin: 0px;
  font-family: $general-font;
  background: $bg-color;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

a {
  empty-cells: show;
  color: white;
  text-decoration: none;
}

.header {
  @extend .flex-align;
  width: 100%;
  height: 80px;
  justify-content: space-between;
}

.header__img {
  width: 200px;
  margin-top: 10px;
  margin-left: 25px;
}

.header__menu {
  margin-right: 25px;
  ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  margin: 0px;
  text-align: right;
  }
}

.header__menu:hover ul, ul:hover {
  display: block;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  @extend .flex-align;
  margin-right: 8px;
  cursor: pointer;

  img {
  margin-right: 10px;
  width: 40px;
  }

  p {
  margin: 0px;
  color: white;
  }
}

/* MAIN SEARCH BAR */

.main {
  @extend .flex-align-justifyCenter;
  flex-direction: column;
  height: 300px;
}

.main__title {
  color: white;
  font-size: 30px;
}

.input {
  background-color: $bg-color-opacity;
  border: 2px solid white;
  border-radius: 35px;
  color: white;
  font-family: $general-font;
  font-size: 16px;
  height: 50px;
  outline: none;
  padding: 0px 20px;
  width: 70%;
}

::placeholder {
  color: white;
}

.categories__title {
  color: white;
  font-size: 18px;
  position: absolute;
  padding-left: 30px;
  margin-bottom: 0px;
  width: 100%;
}

/* Carousel */

.carousel {
  width: 100%;
  padding: 20px 30px;
  overflow: scroll;
  position: relative;
}

.carousel__container {
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}

.carousel-item {
  background-color: white;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  transition: 450ms all;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item{
  opacity: 0.35;
}

.carousel__container:hover .carousel-item:hover {
  transform: scale(1.35);
  opacity: 1;
}

.carousel-item__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.carousel-item__details {
  background: $bg-color-carousel;
  font-size: 10px;
  color: white;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @extend .flex-flexDirection-column;
  justify-content: flex-end;
  
  div img {
  width: 25px;
  height: 25px;
  }
}

.carousel-item__details:hover {
  opacity: 1;
}

.carousel-item__details--title, .carousel-item__details--subtitle{
  margin: 2.5px 3.5px;
}

::-webkit-scrollbar {
  width: 12px; 
  height: 8px;   
  background:rgba(82, 42, 42, 0.4);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.carousel::-webkit-scrollbar {
	background-color: rgb(121, 159, 255);
	border-radius: 50px;
	height: 12px;
	width: 0px;
}

.carousel::-webkit-scrollbar-thumb {
	background-color: rgb(104, 147, 255);
	border-radius: 10px;
	height: 10px;
}

.carousel::-moz-scrollbar {
	background-color: whitesmoke;
	border-radius: 50px;
	height: 10px;
	width: 0px;
}

.carousel::-moz-scrollbar-thumb {
	background-color: #ffe604;
	border-radius: 10px;
	height: 10px;
}

.carousel::-o-scrollbar {
	background-color: whitesmoke;
	border-radius: 50px;
	height: 10px;
	width: 0px;
}

.carousel::-o-scrollbar-thumb {
	background-color: #ffe604;
	border-radius: 10px;
	height: 10px;
}

/* register */

.register {
  @extend .flex-align-justifyCenter;
  flex-direction: column;
  padding: 30px 30px;
  min-height: calc(100vh - 200px);
}

.register__container {
  background-color: $bg-color-opacity;
  border: 2px solid white;
  border-radius: 35px;
  color: white;
  @extend .flex-flexDirection-column;
  min-height: 700px;
  padding: 40px 50px;
  width: 350px;
  justify-content: space-around;

  h2 {
  @extend .flex-align-justifyCenter;
  } 
}

.register__container--form {
  @extend .flex-flexDirection-column
  
}

.register__container--login {
  @extend .flex-align-justifyCenter;
  
  a {
  font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }
}
  
/* LOGIN */

.login {
  @extend .flex-align-justifyCenter;
  align-items: flex-end;
  flex-direction: column;
  padding: 30px 30px;
  min-height: calc(100vh - 200px);
}

.login-video {
  padding: 30px 30px;
  position: absolute;
}

.login-video__promo {
  min-height: calc(100vh - 200px);
  min-width: calc(150vh - 200px);
  border: 2px solid white;
  border-radius: 35px;
}

.login__container {
  background-color: $bg-color-opacity;
  border: 2px solid white;
  border-radius: 35px;
  display: flex;
  color: white;
  min-height: 700px;
  padding: 40px 50px;
  width: 350px;
  justify-content: space-around;
  flex-direction: column;
}

.login__container--title {
  @extend .flex-align-justifyCenter;
}

.login__container--form {
  @extend .flex-flexDirection-column;
  
  label {
  font-size: 16px;
  }
}

#cbox1 {
  margin-left: 5px;
}

.input__container--input {
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid white;
  font-family: $general-font;
  margin-top: 15px;
  margin-bottom: 15px;
  outline: none;
  padding: 15px 15px;
}

.button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-family: $general-font;
  font-weight: bold;
  font-size: 18px;
  height: 50px;
  padding: 10px 15px;
  margin-top: 25px;
  margin-bottom: 10px;
  outline: none;
  
}

.login__container--remember-me {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;

  a:hover {
  text-decoration: underline;
  } 
}

.container__social-media > div {
  @extend .flex-align-justifyCenter;
  font-size: 16px;
  margin-bottom: 15px;
}

.container__social-media > div > img {
  width: 40px;
  margin-right: 10px;
}

.login__container--register {
  @extend .flex-justifyCenter;
  font-size: 16px;

  a {
  font-size: 16px;
  font-weight: bold;
  }

  a:hover {
  text-decoration: underline;
  }
}

/*FOOTER*/

.footer {
  @extend .flex-align;
  color: white;
  height: 100px;
  font-size: 18px;
  justify-content: space-between;
  width: 100%;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-left a {
  padding-left: 30px;
}

.footer-right p{
  margin: 0px;
  padding-right: 30px;
  
}

.footer-right a{
  text-decoration: underline;
}

.footer-right a:hover{
  font-weight: bold;
}

.footer__img {
  width: 18px;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}

/*404 PAGE*/

.page-error {
  @extend .flex-align-justifyCenter;
  color: white;
  min-height: calc(100vh - 180px);
  width: 100%;
}

.page-error__container {
  @extend .flex-align-justifyCenter;
  background-color: $bg-color-opacity;
  border: 2px solid white;
  border-radius: 35px;
  flex-direction: column;
  padding: 35px;
}

.page-error__container--title {
  font-size: 48px;
  margin-bottom: 0px;
}

.page-error__container--subtitle {
  font-size: 38px;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes hinge {
  0% {transform: rotate(0);transform-origin: top left;animation-timing-function: ease-in-out;}
  20%, 60% {transform: rotate(75deg);transform-origin: top left;animation-timing-function: ease-in-out;}
  40% {transform: rotate(60deg);transform-origin: top left;animation-timing-function: ease-in-out;}
  80% {transform: rotate(60deg) translateY(0);transform-origin: top left;animation-timing-function: ease-in-out;}
  100% {transform: translateY(700px);}
}

.hinge {
  margin: 20px;
  animation-name: hinge;
}